<body class="admin posts admin">
  <div id="admin">
    <div id="save"></div>
    
    <div id="drafts" class="col">
      <h1>Utkast <a href="{{base_url}}/new" class="button">Ny Kladd</a></h1>
      <form accept-charset="UTF-8" action="{{base_url}}/new" class="new_post" id="new_post" method="get">
        <input id           = "post-title" 
               name         = "ptitle" 
               autocomplete = "off"
               placeholder  = "Begynn med en overskrift her..." size="30" type="text" />
      </form>

      <ul>
        {{#drafts}}
        <li id="post-{{filename}}">
          <h3>
            <a href="{{base_url}}/edit/{{filename}}">{{title}}</a>
            <span class="links">
              <a href="{{base_url}}/delete/{{filename}}" class="delete-button admin-delete" rel="nofollow">x</a>
            </span>
          </h3>
        </li>
        {{/drafts}}
      </ul>
  </div>

  <div id="published" class="col">
  <h2>Publisert 
  <a href="{{base_url}}/settings" class="button">Instillinger</a></h2>
  <ul>
    {{#published}}
    <li id="post-{{filename}}">
      <h3>
        <a href="{{base_url}}/edit/{{filename}}">{{title}}</a>
        <span class="links">
          <a href="{{base_url}}/delete/{{filename}}" class="delete-button admin-delete" rel="nofollow">x</a>
        </span>
      </h3>
    </li>
    {{/published}}
  </ul>

      <div id="publish-bar-hover">
        <div id="publish-bar">
          <div class="contain">
            <div class="left">
              <a href="{{base_url}}/images">Bilder</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
